body {
  padding: 2rem 0;
  min-height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  text-align: center;
}

.hide {
  display: none !important;
}

#input-submit, .list-social-medias > li > a > svg {
  cursor: pointer;
}

/* Header */
header {
  padding: 3rem 0;
}

#header-logo {
  display: block;
  width: 60px;
  height: auto;
  margin: 0 auto;
}

/* Main */
h2 {
  color: hsl(0, 0%, 59%);
  margin: 0 auto 1rem auto;
  font-size: 1.5rem;
}

h2 > span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

#div-subscribe {
  font-size: 14px;
}

/* Footer */
form {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 1.5rem auto;
  text-align: center;
}

input[type=email]:active, input[type=email]:focus {
  background-color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
}

#input-email, #input-submit {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 1.5rem;
  border-radius: 500px;
  border: 1px solid hsl(223, 87%, 63%);
  font-size: 14px;
}

.div-email {
  margin-bottom: .5rem;
}

.div-email > span {
  display: block;
  font-size: 12px;
  color: hsl(354, 100%, 66%);
  margin: .5rem 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#input-email.error {
  border-color: hsl(354, 100%, 66%);
}

#input-email::placeholder {
  color: rgba(79, 125, 243, 0.500);
  font-size: 12px;
}

#input-submit {
  background-color: hsl(223, 87%, 63%);
  box-shadow: 0 .35rem 1rem hsla(223, 87%, 63%, .5);
  color: hsl(0, 0%, 100%);
  font-weight: 600;
}

#input-submit:hover {
  opacity: .75;
}

.div-img-landing {
  margin: 4rem 0 8rem 0;
}

.div-img-landing.error {
  margin-top: 2rem;
}

#img-landing {
  display: block;
  width: 85%;
  height: auto;
  margin: 0 auto;
}

.list-social-medias {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32.5%;
  margin: 1rem auto;
}

.list-social-medias > li > a > svg {
  padding: 0.45rem;
  border: 1px solid hsla(223, 87%, 63%, .5);
  border-radius: 50%;
}

.list-social-medias > li > a > svg > path {
  fill: hsl(223, 87%, 63%);
}

.list-social-medias > li > a > svg:hover {
  border-color: hsl(223, 87%, 63%);
  background-color: hsl(223, 87%, 63%);
}

.list-social-medias > li > a > svg:hover > path {
  fill: hsl(0, 0%, 100%)
}

footer > span {
  color: hsl(0, 0%, 59%);
  font-size: 12px;
}

@media (min-width: 576px) {
  #header-logo {
    width: 70px;
  }

  h2 {
    font-size: 1.6rem;
  }

  form {
    width: 60%;
  }

  #img-landing {
    width: 70%;
    margin: 3rem auto 6rem auto;
  }

  .list-social-medias {
    width: 20.5%;
  }
}

@media (min-width: 766px) {
  body {
    padding: 0;
  }

  h2 {
    font-size: 1.8rem;
  }

  form {
    width: 54%;
  }

  #img-landing {
    width: 60%;
  }

  .list-social-medias {
    width: 15%;
  }
}

@media (min-width: 922px) {
  
  h2 {
    font-size: 2.25rem;
  }

  form {
    flex-direction: row;
    justify-content: space-around;
  }

  .div-email {
    width: 65%;
    position: relative;
    margin-bottom: 0;
  }
  
  .div-email > span {
    position: absolute;
    bottom: -1.5rem;
    left: 1.5rem;
  }

  #input-submit {
    width: 30%;
    margin: 0;
  }

  #img-landing {
    margin: 4rem auto;
  }

  .list-social-medias {
    width: 12.5%;
  }
}

@media (min-width: 1200px) {
  body {
    padding: 2rem 0;
  }
  
  #div-subscribe {
    font-size: 1rem;
  }

  form {
    width: 45%;
  }

  #input-email, #input-submit {
    padding-top: .75rem;
    padding-bottom: .75rem;
  }

  #img-landing {
    width: 45%;
  }

  .list-social-medias {
    width: 9.5%;
  }
}

@media (min-width: 1400px) {
  h2 {
    font-size: 2.5rem;
  }

  form {
    width: 37.5%;
  }

  .div-email {
    width: 67%;
  }

  #img-landing {
    width: 37.5%;
  }

  .list-social-medias {
    width: 8%;
  }
}